.buttonSubmit{
    background-color: rgb(48, 48, 48);
    width: 200px;
    padding: 10px;
    align-self: center;
    border-radius: 2px;
    font-weight: 600;
    margin-top: 20px;
}

.FormContent{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 500px;
    min-height: 480px;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    padding: 50px;
    gap: 15px;
}
.titleBudget{
    align-self: center;
    font-size: 35px;
}

h4{
    font-size: 20px;
}

.inputName{
    background-color: rgb(48, 48, 48);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 8px;
    font-size: 15px;
}

.checkboxes{
    font-size: 20px;
    
}
.inputCheckbox{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.txtTitles{
    font-size: 20px;
    
}

.errorMessage{
    color: red;
    font-size: 15px;
}